@model KeyValuePair<Libro, int>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <td>
        <a asp-controller="Pedido"
           asp-action="Drop"
           asp-all-route-data="@(new Dictionary<String, String>(){ {"id", Model.Key.isbn } })"
           class="btn btn-danger m-4">X</a>
    </td>
    <td><img height="100" src="~/images/imagenLibro.png" alt="Portada de @Model.Key.titulo" /></td>
    <td scope="row">
        <strong name="@Model.Key.isbn.ToString()">@Model.Key.titulo</strong>
        <br />
        <p style="max-width:500px; max-height:120px; overflow:auto">@Model.Key.descripcion</p>
    </td>
    <td>
        <a asp-controller="Pedido"
           asp-action="Add"
           asp-all-route-data="@(new Dictionary<String, String>(){ {"id", Model.Key.isbn } })"
           class="btn btn-primary">+</a>

        <span class="p-2">@Model.Value.ToString()</span>

        <a asp-controller="Pedido"
           asp-action="Decrease"
           asp-all-route-data="@(new Dictionary<String, String>(){ {"id", Model.Key.isbn } })"
           class="btn btn-primary">-</a>
    </td>
    <td>@Model.Key.precio.ToString() €</td>
    <td>@(Model.Key.precio * Model.Value) €</td>